<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/login" method="post">
    <label for="email">Email1</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
  </form>
</body>
</html>
